@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: white;
  color: black;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Logo Animation */
@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.animate-draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s ease forwards;
}

.animate-draw:nth-child(2) {
  animation-delay: 0.5s;
}
